body {
    background-color: #ededed;
}

.card {
    border-radius: 16px;
}

.btn {
    border-radius: 16px;
}

.list-group {
    border-radius: 16px;
}

img {
    border-radius: 16px;
}
.btn-close {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    padding: 1rem 1rem;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.btn-close {
    --bs-btn-close-color:#000;
    --bs-btn-close-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity:0.5;
    --bs-btn-close-hover-opacity:0.75;
    --bs-btn-close-focus-shadow:0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity:1;
    --bs-btn-close-disabled-opacity:0.25;
    --bs-btn-close-white-filter:invert(1) grayscale(100%) brightness(200%);
    box-sizing:content-box;
    width:1em;
    height:1em;
    padding:.25em .25em;
    color:var(--bs-btn-close-color);
    background:transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border:0;
    border-radius:.375rem;
    opacity:var(--bs-btn-close-opacity)
}

.btn-close:hover{
    color:var(--bs-btn-close-color);
    text-decoration:none;
    opacity:var(--bs-btn-close-hover-opacity)
}

.btn-close:focus{
    outline:0;
    box-shadow:var(--bs-btn-close-focus-shadow);
    opacity:var(--bs-btn-close-focus-opacity)
}

.btn-close.disabled,.btn-close:disabled {
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    opacity:var(--bs-btn-close-disabled-opacity)
}

.alert {
    border-radius: 16px;
    padding: 5px;
    text-align: center;
}

@media (min-width: 767.98px) {
    .footer-right {
        text-align: right;
    }
}

@media (max-width: 767.98px) {
    .live-alert-placeholder-small {
      margin-top: 20px;
      margin-bottom: 1px;
    }
    .people-you-may-know-small {
      margin-top: 20px;
    }
    body {
        margin: 0;
        padding: 0;
        position: absolute;
    }
    .footer {
        position: relative;
        height: auto;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin: auto;
    }
}
